@import '../../../assets/styles/vars.less';
@import '../../../assets/styles/colors.less';
@import '../../../assets/styles/media-queries.less';

.link-detail-page {
  padding-bottom: @globalVerticalPadding;

  .link-detail {
    &-container {
      background-color: white;
      border-radius: 5px;
      padding: 26px 30px 30px 30px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .is-mobile({
        flex-direction: column-reverse;
      });

      &-link {
        margin-bottom: 26px;
        width: 100%;

        &:hover {
          .underline-link {
            color: @my-primary-color;
            text-decoration: none;

            span.underline-link-icon {
              clip-path: inset(0 0 0 0);
            }
          }
        }

        h1 {
          margin: 0 20px 0 0;
        }
      }

      .tags {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .is-mobile({
          justify-content: flex-start;
          align-items: flex-start;

          .tag:first-child {
            margin-left: 0;
            margin-bottom: 20px;
          }
        });

        .tag {
          margin: 0 0 6px 6px;
        }
      }
    }

    &-comments {
      margin-top: 25px;

      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .comment {
        &-list {
          margin-top: 40px;
        }

        &-author {
          margin-bottom: 4px;

          span {
            margin-left: 3px;
            font-size: 12px;
            font-weight: 400;
            color: @dark-gray-2;
          }
        }

        &-text {
          margin: 0;
          word-break: break-all;
        }
      }
    }
  }

  // .favorite {
  //   display: inline-flex;
  //   align-items: center;
  //   transition: all 0.2s @bezier;
  //   text-transform: uppercase;
  //   color: black;
  //   margin-top: 15px;

  //   &:hover {
  //     color: @my-secondary-color;
  //   }

  //   span.icon {
  //     margin-right: 4px;
  //     font-size: 20px;
  //   }

  //   .count {
  //     font-size: 13px;
  //     font-weight: 700;
  //   }

  //   &.liked {
  //     color: @my-secondary-color;
  //   }
  // }
}
