@import '../../../assets/styles/media-queries.less';

@additionalDividerMargin: 10px;

.sign-in-and-sign-up-page {
  background-color: white;
  width: 500px;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;

  .underline-link {
    margin: 10px 0 @additionalDividerMargin 0;
  }

  button {
    &[type='submit'] {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &[type='button'] {
      margin-top: @additionalDividerMargin;
    }
  }

  .ant-tabs {
    padding: 50px 70px;

    .is-mobile({
      padding: 30px;
    });

    &-bar {
      margin-bottom: 30px;
    }

    &-nav {
      width: 100%;

      .ant-tabs-tab {
        margin: 0;
        width: 50%;
        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
