@import '../../../assets/styles/media-queries.less';

.forgot-password-page {
  padding: 50px 70px;
  background-color: white;
  width: 500px;
  max-width: 100%;
  margin: auto;

  .is-mobile({
    padding: 30px;

    h1 {
      font-size: 30px;
    }
  });

  button[type='submit'] {
    margin-top: 15px;
  }
}
