@import '../../../assets/styles/colors.less';
@import '../../../assets/styles/vars.less';

.filter-bar {
  overflow-y: auto;
  position: fixed;
  width: @filterBarWidth;
  height: calc(100% - @headerHeight - @filterBarGlobalMargin * 2);
  top: calc(@headerHeight + @filterBarGlobalMargin);
  left: 0;
  border-right: 1px solid @light-gray-1;
  padding-right: @filterBarGlobalMargin;
  padding-left: @globalHorizontalPadding;

  .tag {
    margin: 0 6px 6px 0;
  }

  h4 {
    margin-bottom: 10px;
  }
}
