@import '../assets/styles/colors.less';
@import '../assets/styles/vars.less';

.app {
  margin: 0 @globalHorizontalPadding 0 @globalHorizontalPadding;
  padding-top: calc(@headerHeight + @globalVerticalPadding);
  position: relative;
}
