@import '../../../assets/styles/vars.less';

.home-page {
  padding-left: calc(@filterBarWidth + @filterBarGlobalMargin);

  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    .ant-btn-link {
      color: inherit;
      font-weight: 700;
      padding-left: 0;

      .selected-filter {
        color: @dark-gray-2;
        margin-left: 5px;
      }
    }
  }
}
