.link-list {
  &-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    .ant-btn-link {
      color: inherit;
      font-weight: 600;
      padding-left: 0;

      .selected-filter {
        color: @dark-gray-2;
      }
    }
  }
}
