// ======== FLAT COLORS ==========
$primary-color: #00ae96; // #50bac2;
$secondary-color: #0973ba;
$error-color: #ff3b30;
$error-bg-color: #f8e7e6;
$success-color: #4cd964;
$success-bg-color: #e6f8e9;
$util-color: #8c5eca;
$util-color2: #a58fe4;
$task-executor-1: #ff0069;
$task-executor-2: #d60055;
$task-executor-3: #ba004a;
$hivepi-6: #452600;
$hivepi-5: #945200;
$hivepi-4: #e47e00;
$hivepi-3: #f9951a;
$hivepi-2: #ffb013;
$hivepi-1: #fcbe43;
$hivepi-0: #fffaf3;

//========= GRAY SCALE ===========
$dark-blue: #3e3a49;
$gray: #c7c7cc;
$gray-color-1: #3c3c3c;
$gray-color-2: #676767;
$gray-color-3: #8d8c8c;
$gray-color-4: #d5d5d5;
$gray-color-5: #fbfbfb;
$gray-color-6: #efefef;
$gray-color-7: #ececec; // Border of login inputs

$light-gray-1: #e5e5ea;
$light-gray-2: #f1f3f7;
$placeholder-color: #e6e8ec;

$dark-gray-2: #91959d;
$bg-tag-gray: #ccc;

//========= GREEN COLORS ===========
$green-color-5: #00af97;
$bg-tag-green: #d6efea;
