@import './colors.scss';
@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

body {
  background-color: $light-gray-2;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 21px;
  font-weight: 400;
}

h4 {
  font-size: 17px;
  font-weight: 400;
}

p {
  font-size: 13px;
  font-weight: 400;

  &.bold {
    font-weight: 700;
  }
}

// CSS Reset
a {
  text-decoration: none;
  color: inherit;
  transition: color linear 0.15s;
  cursor: pointer;

  &:visited,
  &:active {
    color: unset;
  }
  &:hover {
    color: $primary-color;
  }
}

input[type='text'],
input[type='text']:focus,
input[type='password'],
input[type='password']:focus,
input[type='email'],
input[type='email']:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.align-items {
  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }

  &-start {
    align-items: flex-start;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-start {
    justify-content: flex-start;
  }
}

.text-align {
  &-center {
    text-align: center;
  }
}

.error-text {
  font-size: 12px;
  font-weight: 400;
  color: $error-color;
}
